body{
    background-color: #0dc871;
}
header{
    text-align: center;
}
label{
    margin-left:2%;
}
form{
    margin: 15px auto;
}
.TopMargin{
    margin-top:25px;
    margin-bottom:10px;
    display:inline-block;
}
.container{
    margin: auto;
    width:50%;
    background-color: white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    padding:15px 10px;
}
.InputText{
    background-color: white;
    margin-left:2%;
    margin-top:10px;
    margin-bottom:15px;
    width:95%;
    height:30px;
    border:solid;
    border-width:1px;
    
}
.select{
    background-color: white;
    margin-left:2%;
    width:90%;
    height:30px;
}

textarea{
    width:95%;
    background-color: white;
    border:solid;
    border-width:1px;
    margin-left:2%;
    margin-bottom:15px;
}
.submit{
    width:95%;
    height:35px;
    font-size:25px;
    border:solid;
    border-width:1px;
    margin-top:25px;
    margin-left:2%;
    background-color: #0dc871;
    
}